.card{
    border: 1px solid rgb(125, 125, 125);
    padding: 1rem;
    box-shadow: 0px 0px 10px gray;
}

.card:hover{
    background: linear-gradient(to bottom, #76ddff 0%, #ffb7db 100%);
}

.like{
    width: 1rem;
}


.modal{
    position: absolute;
    top: 0;
}